@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700&display=swap");

$color-cream: #f2eae2;
$color-grey: #6c7289;
$color-green-500: #3d8168;
$color-green-700: #1a4032;
$color-white: #ffffff;
$color-black: #1c232b;

$ff-montserrat: "Montserrat", sans-serif;
$ff-fraunces: "Fraunces", serif;

$fs-32: 2rem;
$fs-14: 0.875rem;
$fs-13: 0.8125rem;
$fs-12: 0.75rem;

$lh-100: 1;
$lh-110: 1.1;
$lh-120: 1.2;
$lh-160: 1.6;

$fw-medium: 500;
$fw-bold: 700;

$spacing-4: 0.25rem;
$spacing-8: 0.5rem;
$spacing-16: 1rem;
$spacing-24: 1.5rem;
$spacing-32: 2rem;
$spacing-40: 2.5rem;

$shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.2474);
